 <!-- rows of services -->
            <div  id = "home" class="row services-desc">
				
				<article class="row-fluid">

                <h4>Todos nuestros Programas Radiales</h4>

                <div class="span6">
                    <%= image_tag("soplandovida.png" , size:"260x400") %>             
                    <h5>Soplando vida, "Reflexion del dia"</h5>
                    <span class="services-desc">
                       This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.<br><br>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                    </span>
                </div>
                <div class="span5">
                   
                    <%= image_tag("gravedadcero.png" , size:"260x400") %>
                    <h5>  <br> Maquetaci칩n</h5>
                    <span>
						
						
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.<br><br>Sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.  
                    </span>
                </div>
                
                </article>
          
                
            </div>

            <!-- rows of Secial Proyect -->
            
            <div id="home" class="row special-proy">
                
                <div class="span12">
                    <h4>Quiere comentar?</h4>            
                   <span>
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                         Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis 
                         sem nibh id elit. <br><br>
                         Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi
                          accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.    
                   </span>   
                    <div class="cont-read"><i class="icon icon-arrow-blue"></i> continuar leyendo  <br> <br> </div>
                </div>
                <div>
					
                <!-- BEGIN CBOX - www.cbox.ws - v001 -->
				<div id="cboxdiv" style="text-align: center; line-height: 0">
					<div><iframe frameborder="0" width="550" height="300" 
					src="http://www5.cbox.ws/box/?boxid=830319&amp;boxtag=5w5tbq&amp;sec=main" 
					marginheight="2" marginwidth="2" scrolling="auto" allowtransparency="yes" 
					name="cboxmain5-830319" style="border:#48515A 1px solid;" id="cboxmain5-830319">
					</iframe></div>
				<div><iframe frameborder="0" width="550" height="75" 
				src="http://www5.cbox.ws/box/?boxid=830319&amp;boxtag=5w5tbq&amp;sec=form" 
				marginheight="2" marginwidth="2" scrolling="no" allowtransparency="yes" 
				name="cboxform5-830319" style="border:#48515A 1px solid;border-top:0px" 
				id="cboxform5-830319"></iframe></div>
				</div>
				<!-- END CBOX -->
                
                </div>
                
            </div>
        
            <!-- rows of videos -->
            <div id="home"class="row videos-desc">

                <h4>Tus proyectos son nuestra prioridad</h4>

                <div class="span3">
                    <a href="#myModal-1" role="button" data-toggle="modal"><img src="img/video1.png"></a>
                    <h6>Nuestros dise침os son nuestra carta de presentaci칩n</h6>                    
                </div>
                <div class="span3">
                    <a href="#myModal-2" role="button" data-toggle="modal"><img src="img/video2.png"></a>
                    <h6>Buscar la inspiraci칩n para cada proyecto es fundamental.</h6>
                </div>
                <div class="span3">
                    <a href="#myModal-3" role="button" data-toggle="modal"><img src="img/video3.png"></a>
                    <h6>Tener clientes satisfechos es una de nuestras prioridades.</h6>                    
                </div>
                <div class="span2">
                    <a href="#myModal-4" role="button" data-toggle="modal"><img src="img/video4.png"></a>
                    <h6>Ponemos a tu disposicion toda nuestra experiencia y equipo.</h6>
                </div>
            </div>
