


<section id = "home">
	
		
	
		<article id="historia">
			<h3>Bienvenidos a  Radio Cristomorfosis</h3>
			
			<p> Este Programa Radial tiende el agrado de Saludarlos y darles la Bienvenida 
			a nuestro sitio Web, donde compartiremos el mensaje de Dios  a sus vidas, también 
			alabanzas y pedidos musicales. Todos los Viernes a partir de las 10:00 hrs. de la 
			noche Dios los bendiga Amables Oyentes.  Att. Los jóvenes de la Familia Cristomorfosis </p>
		</article>
		
</section>

<section>
  <%= render 'programas' %>
</section>

 
